@using GlassesOnline.Models
@model List<SANPHAMGLA>
@{
    ViewBag.Title = "ViewMatKinh";
    Layout = "~/Views/_LayoutIndex.cshtml";
}
<div id="content">
    <!--Slideshow Part Start-->
    <div class="slider-wrapper">
        <div id="slideshow" class="nivoSlider">
            <a href="#"><img src="~/Content/Images/Design/slider/productSlide2.jpg" alt="slideshow-1" /></a>
            <a href="#"><img src="~/Content/Images/Design/slider/productSlide3.jpg" alt="slideshow-2" /></a>
            <a href="#"><img src="~/Content/Images/Design/slider/productSlide4.jpg" alt="slideshow-3" /></a>
            <a href="#"><img src="~/Content/Images/Design/slider/Slide1.jpg" alt="slideshow-4" /></a>
        </div>
        <div class="nivo-directionNav">
            <a class="nivo-prevNav">Prev</a>
            <a class="nivo-nextNav">Next</a>
        </div>
    </div>
    <script type="text/javascript">
                    $(document).ready(function() {
                    	$('#slideshow').nivoSlider();
                        });
    </script>
    <!--Slideshow Part End-->
    <!--Featured Product Part Start-->
    <div class="box">
        <div class="box-heading">Sản Phẩm</div>
        <div class="box-content">

            <div class="box-product">
                @foreach (var item in Model)
                {
                    <div>
                        <div class="image"><a href="~/ChiTiet/viewchitiet"><img src="~/Content/Images/Product/@item.HinhMinhHoa" alt="Chair Swing" /></a></div>
                        <div class="name"><a href="~/ChiTiet/viewchitiet">@item.TenSP</a></div>
                        <div class="price"> @item.DonGia </div>
                        <div class="rating"><img src="~/Content/Images/Design/stars-3.png" alt="Based on 1 reviews." /></div>
                        <div class="cart">
                            <input type="button" value="Thêm Vào Giỏ Hàng" onClick="addToCart('49');" class="button" />
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
    <!--Featured Product Part End-->
</div>



