@using GlassesOnline.Models
@model List<SANPHAMGLA>
<div class="box-product">
    @foreach (var item in Model)
    {
        <div>
            <div class="image"><a href="~/ChiTiet/viewchitiet?_MaSP=@item.MaSP"><img class="BuyMore" src="~/Content/Images/Product/@item.HinhMinhHoa" alt="Chair Swing"></a></div>
            <div class="name"><a href="~/ChiTiet/viewchitiet?_MaSP=@item.MaSP">@item.TenSP</a></div>
            <div class="price"> @item.DonGia VND </div>
            <div class="rating"><img src="~/Content/Images/Design/stars-3.png" alt="Based on 1 reviews."></div>
        </div>
    }
</div>
