<!DOCTYPE html>
<html>
<!-- Mirrored from demo.harnishdesign.net/html/bigshop/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 13 Aug 2015 08:25:06 GMT -->
<head>
    <meta charset="UTF-8" />
    <title>Bigshop HTML Template</title>
    <link href="image/favicon.png" rel="icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- CSS Part Start-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Css/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Css/colorbox.html" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/Css/carousel.css" media="screen" />
    <link href="~/Content/Css/slideshowCss.css" rel="stylesheet" />
<<<<<<< HEAD
    <link href="~/Content/Css/CssCustom.css" rel="stylesheet" />
=======

    <link href="~/Content/Css/Custom1Css.css" rel="stylesheet" />
>>>>>>> 4467409f88e304e15610bf00bee193dca6372a1c

    <!-- CSS Part End-->
    <!-- JS Part Start-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/scripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.nivo.slider.pack.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.jcarousel.min.js"></script>
    <script type="text/javascript" src="~/scripts/colorbox/jquery.colorbox-min.js"></script>
    <script src="~/scripts/colorbox/jquery.colorbox-min.js"></script>
    <script type="text/javascript" src="~/scripts/tabs.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.easing-1.3.min.js"></script>
    <script type="text/javascript" src="~/scripts/cloud_zoom.js"></script>
    <script type="text/javascript" src="~/scripts/custom.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.dcjqaccordion.js"></script>

    <!-- JS Part End-->
</head>
<body>
    <div class="main-wrapper">
        <!-- Header Parts Start-->
        <div id="header">
            <!-- Top Right part Links-->
            <div id="welcome">
                <div id="language">
                    Ngôn Ngữ
                    <ul>
                        <li><a title="English"><img src="~/Content/Images/Design/flags/gb.png" alt="English" />English</a></li>
                    </ul>
                </div>
                <div class="links">
                    Tài Khoản
                    <ul>
                        <li><a href="#">Tài Khoản Của Bạn</a></li>
                        <li><a href="cart.html">Giỏ Hàng Của Bạn</a></li>
                    </ul>
                </div>
                @{
                    if (Session["MaKH"] == null)
                    {
                        <a href="login.html">Đăng Nhập</a>
                    }

                    else
                    {
                        <a href="login.html">Xin Chào! @Session["TenKH"]</a>
                    }

                }
                
                <a href="register.html">Tạo Tài Khoản</a>
            </div>
            <div id="logo"><a href="index-2.html"><img src="~/Content/Images/Design/logoNamCuong.PNG" title="ecommerce Html Template" alt="ecommerce Html Template" /></a></div>
            <div id="search">
                <div class="button-search"></div>
                <input type="text" value="" placeholder="" id="filter_name" name="search">
            </div>
            <!--Mini Cart Start-->
            <div id="cart">
                <div class="heading">
                    <h4><img width="32" height="32" alt="small-cart-icon" src="~/Content/Images/Design/cart-bg.png"></h4>
                    <a><span id="cart-total">0 Sản Phẩm - 0.00 VND</span></a>
                </div>
                <div class="content">
                    <div class="mini-cart-info">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="image"><a href="product.html"><img title="Chair Swing" alt="Chair Swing" width="43" height="43" src="~/Content/Images/Design/product/samsung_tab_1-60x60.jpg"></a></td>
                                    <td class="name"><a href="product.html">Chair Swing</a></td>
                                    <td class="quantity">x&nbsp;1</td>
                                    <td class="total">$236.99</td>
                                    <td class="remove"><img title="Remove" alt="Remove" src="~/Content/Images/Design/remove-small.png"></td>
                                </tr>
                                <tr>
                                    <td class="image"><a href="product.html"><img title="Eyewear Eyeglasses" alt="Eyewear Eyeglasses" width="43" height="43" src="~/Content/Images/Design/product/apple_cinema_30-60x60.jpg"></a></td>
                                    <td class="name"><a href="product.html">Eyewear Eyeglasses</a></td>
                                    <td class="quantity">x&nbsp;1</td>
                                    <td class="total">$119.50</td>
                                    <td class="remove"><img title="Remove" alt="Remove" src="~/Content/Images/Design/remove-small.png"></td>
                                </tr>
                                <tr>
                                    <td class="image"><a href="product.html"><img title="Nail Polish" alt="Nail Polish" width="43" height="43" src="~/Content/Images/Design/product/hp_1-60x60.jpg"></a></td>
                                    <td class="name"><a href="product.html">Nail Polish</a></td>
                                    <td class="quantity">x&nbsp;1</td>
                                    <td class="total">$119.50</td>
                                    <td class="remove"><img title="Remove" alt="Remove" src="~/Content/Images/Design/remove-small.png"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="mini-cart-total">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="right"><b>Tổng Tiền:</b></td>
                                    <td class="right">$475.99</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="checkout"><a href="cart.html" class="button">Xem Giỏ Hàng</a></div>
                </div>
            </div>
            <!--Mini Cart End-->
        </div>
        <!--Top Navigation Start-->
        <div id="menu">
            <span>Menu</span>
            <ul>
                <li class="home"><a title="Home" href="index-2.html"><span class="fa fa-home"></span></a></li>
                <li>
                    <a href="category.html">Kính Mát</a>
                    <div>
                        <ul>
                            <li><a href="category.html">Cameras</a></li>
                            <li><a href="category.html">Phones</a></li>
                            <li><a href="category.html">Tablets</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="category.html">Gọng Kính</a>
                    <div>
                        <ul>
                            <li><a href="category.html">Casual shoes</a></li>
                            <li><a href="category.html">Fancy shoes</a></li>
                            <li><a href="category.html">Sports shoes</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="category.html">Tròng Kính</a>
                    <div>
                        <ul>
                            <li><a href="category.html">Audio Books</a></li>
                            <li><a href="category.html">Comedy Book</a></li>
                            <li><a href="category.html">Comics Books</a></li>
                            <li><a href="category.html">Computer Book</a></li>
                            <li><a href="category.html">Cookies Books</a></li>
                        </ul>
                        <ul>
                            <li><a href="category.html">English Books</a></li>
                            <li><a href="category.html">Fashion Books</a></li>
                            <li><a href="category.html">Games Books</a></li>
                            <li><a href="category.html">God Books</a></li>
                            <li><a href="category.html">Journal Book</a></li>
                        </ul>
                        <ul>
                            <li><a href="category.html">Knowledge Books</a></li>
                            <li><a href="category.html">Magic Books</a></li>
                            <li><a href="category.html">Management Books</a></li>
                            <li><a href="category.html">Student Books</a></li>
                            <li><a href="category.html">Teachers Books</a></li>
                        </ul>
                        <ul>
                            <li><a href="category.html">Toys Books</a></li>
                            <li><a href="category.html">Travel Books</a></li>
                            <li><a href="category.html">Video Books</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="category.html">Kính Áp Tròng</a>
                    <div>
                        <ul>
                            <li><a href="category.html">Thương Hiệu</a></li>
                            <li><a href="category.html">Khuyến Mãi</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="category.html">Thương Hiệu</a> </li>
                <li><a href="category.html">Khuyến Mãi</a> </li>
            </ul>
        </div>
        <!--Top Navigation Start-->
        <div id="container">
            <!--Left Part-->
            <div id="column-left">
                <!--Categories Part Start-->
                <div class="box">
                    <div class="box-heading">Bộ Lọc</div>
                    <div class="box-content box-category">
                        <form>
                            <ul id="custom_accordion">

                                <li class="radio">
                                    <label><input type="radio" name="optradio" checked>Nam</label>
                                </li>
                                <li class="radio">
                                    <label><input type="radio" name="optradio">Nữ</label>
                                </li>
                            </ul>
                            <select id="GioiTinh" name="GioiTinh">
                                <option value="All">Khoảng Giá</option>
                                <option value="Nữ">Dưới 200.000</option>
                                <option value="Nữ">từ 200.000 đến 500.000</option>
                                <option value="Nữ">từ 500.000 đến 1.000.000</option>
                                <option value="Nữ">Trên 2.000.000</option>
                            </select>
                            <select id="KieuGiang" name="KD">
                                <option value="All">Kiểu Dáng</option>
                                <option value="Nữ">Tròn</option>
                                <option value="Nữ">Vuông</option>
                                <option value="Nữ">Oval</option>
                                <option value="Nữ">Rimless</option>
                            </select>
                            <select id="ThuongHieu" name="ThuongHieu">
                                <option value="All">Thuong Hieu 1</option>
                                <option value="Nữ">Thuong Hieu 2</option>
                                <option value="Nữ">Thuong Hieu 3</option>
                                <option value="Nữ">Thuong Hieu 4</option>
                                <option value="Nữ">Thuong Hieu 5</option>
                            </select>
                        </form>
                    </div>
                </div>
                <!--Categories Part End-->
                <!--Latest Product Start-->
                <div class="box">
                    <div class="box-heading">Sản Phẩm Mua Nhiều</div>
                    <div class="box-content">
                        @Html.Action("PatialBuyMore", "PartialView");
                    </div>
                </div>
                <!--Latest Product End-->
                <!--Specials Product Start-->
                <div class="box">
                    <div class="box-heading"> Khuyến Mãi</div>
                    <div class="box-content">
                        <div class="box-product">
                            <div>
                                <div class="image"><a href="product.html"><img src="image/product/apple_cinema_30-60x60.jpg" alt="Apple Tablet Retina" /></a></div>
                                <div class="name"><a href="product.html">Apple Tablet Retina</a></div>
                                <div class="price"> <span class="price-old">$119.50</span> <span class="price-new">$107.75</span> </div>
                                <div class="rating"><img src="image/stars-0.png" alt="Based on 0 reviews." /></div>
                                <div class="cart">
                                    <input type="button" value="Thêm Vào Giỏ Hàng" onClick="addToCart('42');" class="button" />
                                </div>
                            </div>
                            <div>
                                <div class="image"><a href="product.html"><img src="image/product/canon_eos_5d_1-60x60.jpg" alt="Canon Digital Camera" /></a></div>
                                <div class="name"><a href="product.html">Canon Digital Camera</a></div>
                                <div class="price"> <span class="price-old">$119.50</span> <span class="price-new">$96.00</span> </div>
                                <div class="rating"><img src="image/stars-0.png" alt="Based on 0 reviews." /></div>
                                <div class="cart">
                                    <input type="button" value="Thêm Vào Giỏ Hàng" onClick="addToCart('30');" class="button" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Specials Product End-->
            </div>
            <!--Left End-->
            <!--Middle Part Start-->
            @RenderBody()
            <!--Middle Part End-->
            <div class="clear"></div>
        </div>
    </div>
    <!--Footer Part Start-->
    <div id="footer">
        <div class="column">
            <h3>Thông Tin Liên Hệ</h3>
            <ul>
                <li><a href="about-us.html">HOT LINE: 0909909999</a></li>
                <li><a href="about-us.html">Thời Gian Phục Vụ:8h-21h</a></li>
                <li><a href="about-us.html">Địa Chỉ:Đâu đó quanh việt nam</a></li>
                <li><a href="elements.html">Online:</a></li>
            </ul>
        </div>
        <div class="column">
            <h3>Giới Thiệu</h3>
            <ul>
                <li><a href="contact-us.html">Contact Us</a></li>
                <li><a href="#">Returns</a></li>
                <li><a href="sitemap.html">Site Map</a></li>
            </ul>
        </div>
        <div class="column">
            <h3>Bản Đồ</h3>
            <ul>
                <li><a href="contact-us.html">Contact Us</a></li>
                <li><a href="#">Returns</a></li>
                <li><a href="sitemap.html">Site Map</a></li>
            </ul>
        </div>
        <div class="social"> <a href="http://facebook.com/160281810726316" target="_blank"><img src="~/Content/Images/Design/facebook.png" alt="Facebook" title="Facebook"></a> <a href="https://twitter.com/#!/#" target="_blank"><img src="~/Content/Images/Design/twitter.png" alt="Twitter" title="Twitter"></a> <a href="https://plus.google.com/u/0/#" target="_blank"><img src="~/Content/Images/Design/googleplus.png" alt="Google+" title="Google+"></a> <a href="http://pinterest.com/#" target="_blank"><img src="~/Content/Images/Design/pinterest.png" alt="Pinterest" title="Pinterest"></a> <a href="#" target="_blank"><img src="~/Content/Images/Design/rss.png" alt="RSS" title="RSS"></a> <a href="http://www.vimeo.com/#" target="_blank"><img src="~/Content/Images/Design/vimeo.png" alt="Vimeo" title="Vimeo"></a> <a href="http://www.flickr.com/photos/#" target="_blank"><img src="~/Content/Images/Design/flickr.png" alt="flickr" title="Flickr"></a> <a href="http://www.youtube.com/#" target="_blank"><img src="~/Content/Images/Design/youtube.png" alt="YouTube" title="YouTube"></a> <a href="skype:#?call" target="_blank"><img src="~/Content/Images/Design/skype.png" alt="skype" title="Skype"></a> <a href="#" target="_blank"><img src="~/Content/Images/Design/blogger.png" alt="Blogger" title="Blogger"></a> </div>
        <div class="clear"></div>
        <div id="powered">
            <div class="payments_types"> <img src="~/Content/Images/Design/payment_paypal.png" alt="paypal" title="PayPal"> <img src="~/Content/Images/Design/payment_american.png" alt="american-express" title="American Express"> <img src="~/Content/Images/Design/payment_2checkout.png" alt="2checkout" title="2checkout"> <img src="~/Content/Images/Design/payment_maestro.png" alt="maestro" title="Maestro"> <img src="~/Content/Images/Design/payment_discover.png" alt="discover" title="Discover"> <img src="~/Content/Images/Design/payment_mastercard.png" alt="mastercard" title="MasterCard"> <img src="~/Content/Images/Design/payment_visa.png" alt="visa" title="Visa"> <img src="~/Content/Images/Design/payment_sagepay.png" alt="sagepay" title="sagepay"> <img src="~/Content/Images/Design/payment_moneybookers.png" alt="moneybookers" title="Moneybookers"> </div>
        </div>
    </div>
    <!--Footer Part End-->
</body>
<!-- Mirrored from demo.harnishdesign.net/html/bigshop/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 13 Aug 2015 08:25:55 GMT -->
</html>