<!DOCTYPE html>
<html>
<!-- Mirrored from demo.harnishdesign.net/html/bigshop/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 13 Aug 2015 08:25:06 GMT -->
<head>
    <meta charset="UTF-8" />
    <title>Bigshop HTML Template</title>
    <link href="image/favicon.png" rel="icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- CSS Part Start-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Css/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Css/colorbox.html" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/Css/carousel.css" media="screen" />
    <link href="~/Content/Css/slideshowCss.css" rel="stylesheet" />
    <link href="~/Content/Css/Custom.css" rel="stylesheet" />


    <!-- CSS Part End-->
    <!-- JS Part Start-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/scripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.nivo.slider.pack.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.jcarousel.min.js"></script>
    <script type="text/javascript" src="~/scripts/colorbox/jquery.colorbox-min.js"></script>
    <script src="~/scripts/colorbox/jquery.colorbox-min.js"></script>
    <script type="text/javascript" src="~/scripts/tabs.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.easing-1.3.min.js"></script>
    <script type="text/javascript" src="~/scripts/cloud_zoom.js"></script>
    <script type="text/javascript" src="~/scripts/custom.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.dcjqaccordion.js"></script>

    <!-- JS Part End-->
</head>
<body>
    <div class="main-wrapper">
        <!-- Header Parts Start-->
        <div id="header">
            <!-- Top Right part Links-->
            <div id="welcome">
                <div id="language">
                    Language
                    <ul>
                        <li><a title="English"><img src="~/Content/Images/Design/flags/gb.png" alt="English" />English</a></li>
                    </ul>
                </div>
                <div class="links">
                    My Account
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="cart.html">Shopping Cart</a></li>
                    </ul>
                </div>
                <a href="login.html">login</a> <a href="register.html">create an account</a>
            </div>
            <div id="logo"><a href="index-2.html"><img src="~/Content/Images/Design/logo.png" title="ecommerce Html Template" alt="ecommerce Html Template" /></a></div>
            <div id="search">
                <div class="button-search"></div>
                <input type="text" value="" placeholder="" id="filter_name" name="search">
            </div>
            <!--Mini Cart Start-->
            <div id="cart">
                <div class="heading">
                    <h4><img width="32" height="32" alt="small-cart-icon" src="~/Content/Images/Design/cart-bg.png"></h4>
                    <a><span id="cart-total">0 item(s) - $0.00</span></a>
                </div>
                <div class="content">
                    <div class="mini-cart-info">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="image"><a href="product.html"><img title="Chair Swing" alt="Chair Swing" width="43" height="43" src="~/Content/Images/Design/product/samsung_tab_1-60x60.jpg"></a></td>
                                    <td class="name"><a href="product.html">Chair Swing</a></td>
                                    <td class="quantity">x&nbsp;1</td>
                                    <td class="total">$236.99</td>
                                    <td class="remove"><img title="Remove" alt="Remove" src="~/Content/Images/Design/remove-small.png"></td>
                                </tr>
                                <tr>
                                    <td class="image"><a href="product.html"><img title="Eyewear Eyeglasses" alt="Eyewear Eyeglasses" width="43" height="43" src="~/Content/Images/Design/product/apple_cinema_30-60x60.jpg"></a></td>
                                    <td class="name"><a href="product.html">Eyewear Eyeglasses</a></td>
                                    <td class="quantity">x&nbsp;1</td>
                                    <td class="total">$119.50</td>
                                    <td class="remove"><img title="Remove" alt="Remove" src="~/Content/Images/Design/remove-small.png"></td>
                                </tr>
                                <tr>
                                    <td class="image"><a href="product.html"><img title="Nail Polish" alt="Nail Polish" width="43" height="43" src="~/Content/Images/Design/product/hp_1-60x60.jpg"></a></td>
                                    <td class="name"><a href="product.html">Nail Polish</a></td>
                                    <td class="quantity">x&nbsp;1</td>
                                    <td class="total">$119.50</td>
                                    <td class="remove"><img title="Remove" alt="Remove" src="~/Content/Images/Design/remove-small.png"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="mini-cart-total">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="right"><b>Sub-Total:</b></td>
                                    <td class="right">$399.99</td>
                                </tr>
                                <tr>
                                    <td class="right"><b>Eco Tax (-2.00):</b></td>
                                    <td class="right">$6.00</td>
                                </tr>
                                <tr>
                                    <td class="right"><b>VAT (17.5%):</b></td>
                                    <td class="right">$70.00</td>
                                </tr>
                                <tr>
                                    <td class="right"><b>Total:</b></td>
                                    <td class="right">$475.99</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="checkout"><a href="cart.html" class="button">View Cart</a> &nbsp; <a href="checkout.html" class="button">Checkout</a></div>
                </div>
            </div>
            <!--Mini Cart End-->
        </div>
        <!--Top Navigation Start-->
        <div id="menu">
            <span>Menu</span>
            <ul>
                <li class="home"><a title="Home" href="index-2.html"><span>Home</span></a></li>
                <li>
                    <a href="category.html">Kính Mát</a>
                    <div>
                        <ul>
                            <li><a href="category.html">Cameras</a></li>
                            <li><a href="category.html">Phones</a></li>
                            <li><a href="category.html">Tablets</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="category.html">Gọng Kính</a>
                    <div>
                        <ul>
                            <li><a href="category.html">Casual shoes</a></li>
                            <li><a href="category.html">Fancy shoes</a></li>
                            <li><a href="category.html">Sports shoes</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="category.html">Tròng Kính</a>
                    <div>
                        <ul>
                            <li><a href="category.html">Audio Books</a></li>
                            <li><a href="category.html">Comedy Book</a></li>
                            <li><a href="category.html">Comics Books</a></li>
                            <li><a href="category.html">Computer Book</a></li>
                            <li><a href="category.html">Cookies Books</a></li>
                        </ul>
                        <ul>
                            <li><a href="category.html">English Books</a></li>
                            <li><a href="category.html">Fashion Books</a></li>
                            <li><a href="category.html">Games Books</a></li>
                            <li><a href="category.html">God Books</a></li>
                            <li><a href="category.html">Journal Book</a></li>
                        </ul>
                        <ul>
                            <li><a href="category.html">Knowledge Books</a></li>
                            <li><a href="category.html">Magic Books</a></li>
                            <li><a href="category.html">Management Books</a></li>
                            <li><a href="category.html">Student Books</a></li>
                            <li><a href="category.html">Teachers Books</a></li>
                        </ul>
                        <ul>
                            <li><a href="category.html">Toys Books</a></li>
                            <li><a href="category.html">Travel Books</a></li>
                            <li><a href="category.html">Video Books</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="category.html">Kính Áp Tròng</a>
                    <div>
                        <ul>
                            <li><a href="category.html">Thương Hiệu</a></li>
                            <li><a href="category.html">Khuyến Mãi</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="category.html">Thương Hiệu</a> </li>
                <li><a href="category.html">Khuyến Mãi</a> </li>
            </ul>
        </div>
        <!--Top Navigation Start-->
        <div id="container">
            <!--Left Part-->
            <div id="column-left">
                <!--Categories Part Start-->
                <div class="box">
                    <div class="box-heading">Bộ Lọc</div>
                    <div class="box-content box-category">
                        <form>
                            <ul id="custom_accordion">

                                <li class="radio">
                                    <label><input type="radio" name="optradio" checked>Nam</label>
                                </li>
                                <li class="radio">
                                    <label><input type="radio" name="optradio">Nữ</label>
                                </li>
                            </ul>
                            <select id="SL-GT" name="GioiTinh">
                                <option value="All">Khoảng Giá</option>
                                <option value="Nữ">Dưới 200.000</option>
                                <option value="Nữ">từ 200.000 đến 500.000</option>
                                <option value="Nữ">từ 500.000 đến 1.000.000</option>
                                <option value="Nữ">Trên 2.000.000</option>
                            </select>
                            <select id="SetGia" name="KhoangGia">
                                <option value="All">Khoảng Giá</option>
                                <option value="Nữ">Dưới 200.000</option>
                                <option value="Nữ">từ 200.000 đến 500.000</option>
                                <option value="Nữ">từ 500.000 đến 1.000.000</option>
                                <option value="Nữ">Trên 2.000.000</option>
                            </select>
                            <select id="TH" name="ThuongHieu">
                                <option value="All">Thuong Hieu 1</option>
                                <option value="Nữ">Thuong Hieu 2</option>
                                <option value="Nữ">Thuong Hieu 3</option>
                                <option value="Nữ">Thuong Hieu 4</option>
                                <option value="Nữ">Thuong Hieu 5</option>
                            </select>
                        </form>
                    </div>
                </div>
                <!--Categories Part End-->
                <!--Latest Product Start-->
                <div class="box">
                    <div class="box-heading">Latest</div>
                    <div class="box-content">
                        <div class="box-product">
                            <div>
                                <div class="image"><a href="product.html"><img src="image/product/samsung_tab_1-60x60.jpg" alt="Chair Swing" /></a></div>
                                <div class="name"><a href="product.html">Chair Swing</a></div>
                                <div class="price"> $236.99 </div>
                                <div class="rating"><img src="image/stars-3.png" alt="Based on 1 reviews." /></div>
                            </div>
                            <div>
                                <div class="image"><a href="product.html"><img src="image/product/ipod_classic_1-60x60.jpg" alt="iPad Classic" /></a></div>
                                <div class="name"><a href="product.html">iPad Classic</a></div>
                                <div class="price"> $119.50 </div>
                                <div class="rating"><img src="image/stars-0.png" alt="Based on 0 reviews." /></div>
                            </div>
                            <div>
                                <div class="image"><a href="product.html"><img src="image/product/hp_1-60x60.jpg" alt="Casual Saddle Shoes" /></a></div>
                                <div class="name"><a href="product.html">Casual Saddle Shoes</a></div>
                                <div class="price"> $119.50 </div>
                                <div class="rating"><img src="image/stars-3.png" alt="Based on 3 reviews." /></div>
                            </div>
                            <div>
                                <div class="image"><a href="product.html"><img src="image/product/sony_vaio_1-60x60.jpg" alt="Silver Cuff Bracelet" /></a></div>
                                <div class="name"><a href="product.html">Silver Cuff Bracelet</a></div>
                                <div class="price"> $1,177.00 </div>
                                <div class="rating"><img src="image/stars-0.png" alt="Based on 0 reviews." /></div>
                            </div>
                            <div>
                                <div class="image"><a href="product.html"><img src="image/product/macbook_pro_1-60x60.jpg" alt="MacBook Pro" /></a></div>
                                <div class="name"><a href="product.html">MacBook Pro</a></div>
                                <div class="price"> $2,000.00 </div>
                                <div class="rating"><img src="image/stars-5.png" alt="Based on 5 reviews." /></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Latest Product End-->
                <!--Specials Product Start-->
                <div class="box">
                    <div class="box-heading">Specials</div>
                    <div class="box-content">
                        <div class="box-product">
                            <div>
                                <div class="image"><a href="product.html"><img src="image/product/apple_cinema_30-60x60.jpg" alt="Apple Tablet Retina" /></a></div>
                                <div class="name"><a href="product.html">Apple Tablet Retina</a></div>
                                <div class="price"> <span class="price-old">$119.50</span> <span class="price-new">$107.75</span> </div>
                                <div class="rating"><img src="image/stars-0.png" alt="Based on 0 reviews." /></div>
                                <div class="cart">
                                    <input type="button" value="Add to Cart" onClick="addToCart('42');" class="button" />
                                </div>
                            </div>
                            <div>
                                <div class="image"><a href="product.html"><img src="image/product/canon_eos_5d_1-60x60.jpg" alt="Canon Digital Camera" /></a></div>
                                <div class="name"><a href="product.html">Canon Digital Camera</a></div>
                                <div class="price"> <span class="price-old">$119.50</span> <span class="price-new">$96.00</span> </div>
                                <div class="rating"><img src="image/stars-0.png" alt="Based on 0 reviews." /></div>
                                <div class="cart">
                                    <input type="button" value="Add to Cart" onClick="addToCart('30');" class="button" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Specials Product End-->
            </div>
            <!--Left End-->
            <!--Middle Part Start-->
            <div id="content">
                <!--Slideshow Part Start-->
                <div class="slider-wrapper">
                    <div id="slideshow" class="nivoSlider">
                     <a href="#"><img src="~/Content/Images/Design/slider/slider-1.jpg" alt="slideshow-1" /></a>
                     <a href="#"><img src="~/Content/Images/Design/slider/slider-2.jpg" alt="slideshow-2" /></a>
                     <a href="#"><img src="~/Content/Images/Design/slider/slider-3.jpg" alt="slideshow-3" /></a>
                     <a href="#"><img src="~/Content/Images/Design/slider/slider-4.jpg" alt="slideshow-4" /></a> 
                    </div>
                    <div class="nivo-directionNav">
                       <a class="nivo-prevNav">Prev</a>
                       <a class="nivo-nextNav">Next</a>
                    </div>
                </div>
                <script type="text/javascript">
                    $(document).ready(function() {
                    	$('#slideshow').nivoSlider();
                        });
                </script>
                <!--Slideshow Part End-->
                <!--Featured Product Part Start-->
                <div class="box">
                    <div class="box-heading">Featured</div>
                    <div class="box-content">
                        @RenderBody()
                    </div>
                </div>
                <!--Featured Product Part End-->
            </div>
            <!--Middle Part End-->
            <div class="clear"></div>
        </div>
    </div>
    <!--Footer Part Start-->
    <div id="footer">
        <div class="column">
            <h3>Information</h3>
            <ul>
                <li><a href="about-us.html">About Us</a></li>
                <li><a href="about-us.html">Delivery Information</a></li>
                <li><a href="about-us.html">Privacy Policy</a></li>
                <li><a href="elements.html">Elements</a></li>
            </ul>
        </div>
        <div class="column">
            <h3>Customer Service</h3>
            <ul>
                <li><a href="contact-us.html">Contact Us</a></li>
                <li><a href="#">Returns</a></li>
                <li><a href="sitemap.html">Site Map</a></li>
            </ul>
        </div>
        <div class="column">
            <h3>Extras</h3>
            <ul>
                <li><a href="#">Brands</a></li>
                <li><a href="#">Gift Vouchers</a></li>
                <li><a href="#">Affiliates</a></li>
                <li><a href="#">Specials</a></li>
            </ul>
        </div>
        <div class="column">
            <h3>My Account</h3>
            <ul>
                <li><a href="#">My Account</a></li>
                <li><a href="#">Order History</a></li>
                <li><a href="#">Wish List</a></li>
                <li><a href="#">Newsletter</a></li>
            </ul>
        </div>
        <div class="contact">
            <ul>
                <li class="address">Second plaza, Delhi, india.</li>
                <li class="mobile">191 191 91 19</li>
                <li class="email"><a href="mailto:info@demo.com">info@demo.com</a></li>
                <li class="fax">191 191 91 19</li>
            </ul>
        </div>
        <div class="social"> <a href="http://facebook.com/160281810726316" target="_blank"><img src="image/facebook.png" alt="Facebook" title="Facebook"></a> <a href="https://twitter.com/#!/#" target="_blank"><img src="image/twitter.png" alt="Twitter" title="Twitter"></a> <a href="https://plus.google.com/u/0/#" target="_blank"><img src="image/googleplus.png" alt="Google+" title="Google+"></a> <a href="http://pinterest.com/#" target="_blank"><img src="image/pinterest.png" alt="Pinterest" title="Pinterest"></a> <a href="#" target="_blank"><img src="image/rss.png" alt="RSS" title="RSS"></a> <a href="http://www.vimeo.com/#" target="_blank"><img src="image/vimeo.png" alt="Vimeo" title="Vimeo"></a> <a href="http://www.flickr.com/photos/#" target="_blank"><img src="image/flickr.png" alt="flickr" title="Flickr"></a> <a href="http://www.youtube.com/#" target="_blank"><img src="image/youtube.png" alt="YouTube" title="YouTube"></a> <a href="skype:#?call" target="_blank"><img src="image/skype.png" alt="skype" title="Skype"></a> <a href="#" target="_blank"><img src="image/blogger.png" alt="Blogger" title="Blogger"></a> </div>
        <div class="clear"></div>
        <div id="powered">
            Bigshop <a href="#">Html Template </a> &copy; 2013 &nbsp;|&nbsp; Template By <a target="_blank" href="http://harnishdesign.net/">Harnish Design</a>
            <div class="payments_types"> <img src="image/payment_paypal.png" alt="paypal" title="PayPal"> <img src="image/payment_american.png" alt="american-express" title="American Express"> <img src="image/payment_2checkout.png" alt="2checkout" title="2checkout"> <img src="image/payment_maestro.png" alt="maestro" title="Maestro"> <img src="image/payment_discover.png" alt="discover" title="Discover"> <img src="image/payment_mastercard.png" alt="mastercard" title="MasterCard"> <img src="image/payment_visa.png" alt="visa" title="Visa"> <img src="image/payment_sagepay.png" alt="sagepay" title="sagepay"> <img src="image/payment_moneybookers.png" alt="moneybookers" title="Moneybookers"> </div>
        </div>
    </div>
    <!--Footer Part End-->
</body>
<!-- Mirrored from demo.harnishdesign.net/html/bigshop/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 13 Aug 2015 08:25:55 GMT -->
</html>