
@{
    ViewBag.Title = "ViewDangky";
    Layout = "~/Views/_LayoutIndex.cshtml";
}

<div id="content">
    <!--Breadcrumb Part Start-->
   
    <h1>Đăng Ký Tài Khoản</h1>
    <form enctype="multipart/form-data" method="post" action="#">
        <h2>Thông Tin Cá Nhân</h2>
        <div class="content">
            <table class="form">
                <tbody>
                    <tr>
                        <td><span class="required">*</span> Họ Tên:</td>
                        <td><input class="large-field" type="text" value="" name="name"></td>
                    </tr>

                    <tr>
                        <td><span class="required">*</span> E-Mail:</td>
                        <td><input class="large-field" type="text" value="" name="email"></td>
                    </tr>
                    <tr>
                        <td><span class="required">*</span> Số Điện Thoại:</td>
                        <td><input class="large-field" type="text" value="" name="SoDienThoai"></td>
                    </tr>
                    <tr>
                        <td><span class="required">*</span> Địa Chỉ:</td>
                        <td><input class="large-field" type="text" value="" name="DiaChi"></td>
                    </tr>
                    <tr>
                        <td><span class="required">*</span> Ngày Sinh:</td>
                        <td><input class="large-field" type="text" value="" name="NgaySinh"></td>
                    </tr>
                    <tr>
                        <td><span class="required">*</span> Giới Tính:</td>
                        <td>
                           <input  type="radio" value="true" name="GioiTinh">Nam
                            <input  type="radio" value="false" name="GioiTinh">Nữ
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
      
        <h2>Tài Khoản</h2>
        <div class="content">
            <table class="form">
                <tbody>
                    <tr>
                        <td><span class="required">*</span> Tên Đăng Nhập:</td>
                        <td><input class="large-field" type="text" value="" name="TenDangNhap"></td>
                    </tr>
                    <tr>
                        <td><span class="required">*</span> Mật Khẩu:</td>
                        <td><input class="large-field" type="password" value="" name="MatKhau"></td>
                    </tr>
                </tbody>
            </table>
        </div>
       
        <div class="buttons">
            <div class="right">       
               
                <input type="submit" class="button" value="Đăng Ký" style="float: left; margin: 0;height: 40px;line-height: 20px;padding: 0px 40px;  " />
            </div>
        </div>
    </form>
</div>