
@{
    ViewBag.Title = "ViewDangky";
    Layout = "~/Views/_LayoutIndex.cshtml";
}

<div id="content">
    <!--Breadcrumb Part Start-->
   
    <h1>Đăng Ký Tài Khoản</h1>
    <form enctype="multipart/form-data" method="post" action="#">
        <h2>Thông Tin Cá Nhân</h2>
        <div class="content">
            <table class="form">
                <tbody>
                    <tr>
                        <td><span class="required">*</span> Họ Tên:</td>
                        <td><input class="large-field" type="text" value="" name="firstname"></td>
                    </tr>

                    <tr>
                        <td><span class="required">*</span> E-Mail:</td>
                        <td><input class="large-field" type="text" value="" name="email"></td>
                    </tr>
                    <tr>
                        <td><span class="required">*</span> Số Điện Thoại:</td>
                        <td><input class="large-field" type="text" value="" name="telephone"></td>
                    </tr>
                    <tr>
                        <td><span class="required">*</span> Địa Chỉ:</td>
                        <td><input class="large-field" type="text" value="" name="address_1"></td>
                    </tr>

                </tbody>
            </table>
        </div>
      
        <h2>Tài Khoản</h2>
        <div class="content">
            <table class="form">
                <tbody>
                    <tr>
                        <td><span class="required">*</span> Tên Đăng Nhập:</td>
                        <td><input class="large-field" type="password" value="" name="password"></td>
                    </tr>
                    <tr>
                        <td><span class="required">*</span> Mật Khẩu:</td>
                        <td><input class="large-field" type="password" value="" name="confirm"></td>
                    </tr>
                </tbody>
            </table>
        </div>
       
        <div class="buttons">
            <div class="right">       
               
                <input type="submit" class="button" value="Đăng Ký" style="float: left;
    margin: 0;
    height: 30px;
    line-height: 26px;
    padding: 0px 60px;
    margin-right: 800px;
    margin-top: 20px;
    width:129px;  " />
            </div>
        </div>
    </form>
</div>