:root{
    --colorMain:#f86b38;
}
#logo img {
    width: 240px;
    height: 80px;
}
#header{
    min-height:110px;
}
li.home a span{
    color: white;
    height:35px;
    font-size: 32px;
    text-indent:inherit
}
select{
    background: var(--colorMain);
    border: 1px solid #a52e02;
    margin: 10px 5px 20px 0;
    color: white;
    border-radius: 10px;
    font-size: 13px;
    padding: 7px 0px;
}
#KieuGiang{
    padding-right: 90px;
}
#ThuongHieu{
    padding-right: 64px;
}
.box-product{
    overflow:hidden;
}
.box .box-heading{
    font-size:15px;
}
#footer .column ul{
    width:370px;
}
.box-product .image img{
    width: 152px;
    height: 152px;
    padding: 0px;
}
.content{


    margin-top:0px;
}

.box-product .image .BuyMore{
    width: 60px;
    height: 60px;
    padding: 0px;
}
#btnLocSP{
    float: right;
    margin: 10px 20px 30px 0px;
    border-radius: 5px;
    background: #ff5213;
    color: white;
    border-color: #f86b38;
    padding: 5px;
}
#BinhLuan{
    position:relative;
}
#DangNhapBinhLuan{
    position: absolute;
    width: 100%;
    height:100%;
    z-index:10;
}
#frmDangNhapBinhLuan{
    position: absolute;
    width: 100%;
    height:100%;
    z-index:10;
    display:none
}
#btnDangNhapBL{
    margin: 8% 38%;
    background: #F15A23;
    color: white;
    padding: 10px 10px;
    border-color: #F15F89;
    border-radius: 10px;
}
#frmBinhLuan{
    opacity:0.5;
}
#TenDNBinhLuan{
    width: 200px;
    margin: 10% 35% 1%;
    border-color: #F15A23;
    border-radius: 10px;
    outline: 0
}
#MKDNBinhLuan{
    margin-left: 35%;
    width: 200px;
    border-color: #F15A23;
    border-radius: 10px;
    outline: 0;
}
#btnDangNhapBL{
    margin-left:35%;
}
#btnfrmDangNhapBL{
    margin: 0 0 0px 35%;
}